# Service ports
API_PORT=8000
FRONTEND_PORT=3000

# Service discovery
API_URL=http://api:8000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
INTERNAL_NETWORK_NAME=jobapp_internal

# Secrets
REDIS_PASSWORD=CHANGE_ME

# Resource limits
REDIS_CPU_LIMIT=0.50
REDIS_MEM_LIMIT=256m
API_CPU_LIMIT=0.50
API_MEM_LIMIT=256m
WORKER_CPU_LIMIT=0.50
WORKER_MEM_LIMIT=256m
FRONTEND_CPU_LIMIT=0.50
FRONTEND_MEM_LIMIT=256m
